!!!d
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title PDA
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
            = javascript_include_tag 'application', 'data-turbolinks-track' => true
            = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      %div.container
<<<<<<< HEAD
        = link_to root_path, class: 'navbar-link btn btn-default navbar-btn' do
          %span.glyphicon.glyphicon-home
        = link_to 'Events', events_path, :class => 'navbar-link btn btn-default navbar-btn'
        = link_to 'Memos', memos_path, :class => 'navbar-link btn btn-default navbar-btn'
        %p.pull-right
          - if user_signed_in?
            Logged in as
            = succeed "." do
              %strong.navbar-text= current_user.email
            = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-default navbar-btn'
            = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-default navbar-btn'
          - else
            = link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-default navbar-btn'
            = link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-default navbar-btn'
    %div.container
      %div.row
        %div.col-md-3
          %div.sidebar-style
            = render 'sidebar'
        %div.col-md-9
          %div.body-content-style
            - if flash[:notice]
              %h5#notice= flash[:notice]
            - if flash[:error]
              %h5#error= flash[:error]
            = yield