- if @memo.errors.any?
  - @memo.errors.full_messages.each do |message|
    %span.glyphicon.glyphicon-exclamation-sign
    %span= message
    %br/
= form_for [@user, @memo] do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :content
  = f.text_area :content
  %br
  = f.submit