%h1 Events
= link_to 'New Event', new_user_event_path(current_user.id)
%br
- @events.each do |event|
  = event.name
  = event.description
  = event.date 
  = link_to 'Show', user_event_path(current_user, event), class: "button"