%h1 Event
%h4
  Name: #{@event.name}
  %br
  Description: #{@event.description}
  %br
  Date: #{@event.date}
  %br
  = link_to "Update Event", edit_user_event_path(current_user, @event)
  = link_to "Delete Event", user_event_path(current_user, @event), method: :delete