%h1 Event
%h4
  Name: #{@event.name}
  %br
  Description: #{@event.description}
  %br
  Date: #{@event.date.strftime("%m/%d/%Y")}
  %br
  = link_to edit_user_event_path(current_user, @event) do
    %span.glyphicon.glyphicon-edit{class: 'glyph'}
  = link_to user_event_path(current_user, @event), method: :delete do
    %span.glyphicon.glyphicon-trash{class: 'glyph'}